/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SharpSans-Bold";

  src: url("./fonts/SharpSans12.woff") format("woff"), /* Modern Browsers */
    url("./fonts/SharpSans12.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}